<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB7eolSVS5fVZEIx27yXXlks-yZQU2Bskk</string>
	<key>GCM_SENDER_ID</key>
	<string>139665999955</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cleanBoilerplate</string>
	<key>PROJECT_ID</key>
	<string>mess-management-2600a</string>
	<key>STORAGE_BUCKET</key>
	<string>mess-management-2600a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:139665999955:ios:37d1a5496abdcb0d705ea6</string>
</dict>
</plist>